<app-layout/>
<h5 style="margin-top: 1.5em; justify-self: center;">Regisztráció</h5>
<div class="card"  style="width: 50%; margin-top: 1em; justify-self: center;">
  <form class="p-2" [formGroup]="regisztracioForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputName">Név</label>
      <input type="text" class="form-control" id="exampleInputName" placeholder="Írja be a felhasználónevét" formControlName="nev">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Írja be az email címét" formControlName="email">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Jelszó</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Írja be a jelszót" formControlName="password">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword2">Jelszó megint</label>
      <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Írja be a jelszót megint" formControlName="passwordAgain">
    </div>
    <!--
        <div class="form-group">
          <label for="exampleInputAdmin">Admin</label>
          <input type="checkbox" id="exampleInputAdmin"  formControlName="admin">
        </div>
    -->
        <button type="submit" class="btn btn-primary" style="margin-top: 1em;">Regisztráció</button>
      </form>
    </div>

